alabaster==0.7.12
cookiecutter==1.7.3
furo==2022.1.2
myst-parser==0.16.1
pre-commit==2.16.0
pytest==6.2.5
pytest-cookies==0.6.1
pytest-cov==3.0.0
python-semantic-release==7.23.0
Sphinx==4.3.2
tox==3.24.4
watchdog==2.1.6
