cookiecutter==1.7.3
flake8==4.0.1
furo==2022.1.2
myst-parser==0.16.1
pytest==6.2.5
python-semantic-release==7.23.0
Sphinx==4.3.2
tox==3.24.5
twine==3.7.1
wheel==0.37.1
watchdog==2.1.6


{% if cookiecutter.use_pre_commit == 'y' -%}
pre-commit==2.14.1{% endif %}

{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click==8.0.1{% endif %}
