cookiecutter==2.1.1
flake8==4.0.1
furo==2022.6.4.1
myst-parser==0.18.0
pytest==7.1.2
python-semantic-release==7.29.1
Sphinx==5.0.2
tox==3.25.0
twine==3.7.1
wheel==0.37.1
watchdog==2.1.9


{% if cookiecutter.use_pre_commit == 'y' -%}
pre-commit==2.14.1{% endif %}

{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click==8.0.1{% endif %}
